<div class="ali">
    <div class="container text-center">
        <div class="ali__title">
            <h3 class="ali__title--txt">Aliados estratégicos | Teacompaño CIS</h3>
            <p class="ali__title--desc">
                Las alianzas que impulsan nuestra labor por la salud de las personas
            </p>
        </div>
        <div class="ali__body">
            <div class="ali__section">
                <div class="ali__item">
                    <a href="https://www.farmashops.com" rel="nofollow" target="_blank" class="objects">
                        <div class="ali__item--header">
                            <h4 class="alii__header--txt">FarmaShops</h4>
                        </div>
                        <div class="ali__item--body">
                            <img src="/img/aliados/logo-fs.png" alt="" class="alii__body--img pt-4">
                        </div>
                        <div class="ali__item--footer">
                            <p class="alii__footer--desc">
                                Aplicación móvil de <strong>productos farmacéuticos</strong> y <strong>servicios de enfermería</strong>
                            </p>
                        </div>
                    </a>
                </div>

                <div class="ali__item">
                    <a href="https://www.k1n0.com.co" rel="nofollow" target="_blank" class="objects">
                        <div class="ali__item--header">
                            <h4 class="alii__header--txt">K1n0 C0m</h4>
                        </div>
                        <div class="ali__item--body">
                            <img src="/img/aliados/logo-k1n0.jpg" alt="" class="alii__body--img kino">
                        </div>
                        <div class="ali__item--footer">
                            <p class="alii__footer--desc">
                                Estrategias de <strong>Mercadeo, Publicidad y Comunicación Digital</strong> para empresas
                            </p>
                        </div>
                    </a>
                </div>

                <div class="ali__item">
                    <a href="https://www.clinicaisis.com" rel="nofollow" target="_blank" class="objects">
                        <div class="ali__item--header">
                            <h4 class="alii__header--txt">Clínica Isis</h4>
                        </div>
                        <div class="ali__item--body">
                            <img src="/img/aliados/logo-isis.png" alt="" class="alii__body--img pt-4">
                        </div>
                        <div class="ali__item--footer">
                            <p class="alii__footer--desc">
                                Institución prestadora de <strong>servicios en salud</strong> en Medellín.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ali__footer">
            <a href="/formulario-socios" class="ali__footer--inv">Únete como aliado
                estratégico</a>
        </div>

    </div>
</div>