<div class="ali">
    <div class="container text-center">
        <div class="ali__title">
            <h3 class="ali__title--txt">Aliados estratégicos | Teacompaño CIS</h3>
            <p class="ali__title--desc">
                Las alianzas que impulsan nuestra labor por la salud de las personas
            </p>
        </div>
        <div class="ali__body">

            {{!-- Carrusel --}}
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <a href="https://descarga.farmashops.com/" rel="nofollow" target="_blank" class="carousel-item active">
                        <img src="/img/aliados/logo-fs.png" class="ali__body--img pt-4" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h5>FarmaShops</h5>
                            <p class="alii__footer--desc">
                                Aplicación móvil de <strong>productos farmacéuticos</strong><br> y <strong>servicios de
                                    enfermería</strong>
                            </p>
                        </div>
                    </a>
                    <a href="https://www.k1n0.com.co/" rel="nofollow" target="_blank" class="carousel-item">
                        <img src="/img/aliados/logo-k1n0.jpg" class="ali__body--img pt-2" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h5>K1n0 C0m</h5>
                            <p class="alii__footer--desc">
                                Estrategias de <strong>Mercadeo, Publicidad y Comunicación Digital</strong><br> para
                                empresas
                            </p>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/linamarcela.munerabedoya" rel="nofollow" target="_blank"  class="carousel-item">
                        <img src="/img/aliados/logo-dralina.png" class="ali__body--img" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h5>Dra. Lina Múnera</h5>
                            <p class="alii__footer--desc">
                                Servicios de <strong>Medicina Estética</strong> en Medellín
                            </p>
                        </div>
                    </a>
                    <a href="https://www.clinicaisis.com.co/" rel="nofollow" target="_blank" class="carousel-item">
                        <img src="/img/aliados/logo-isis.png" class="ali__body--img pt-4" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h5>IPS Clínica Isis</h5>
                            <p class="alii__footer--desc">
                                Institución prestadora de <strong>servicios en salud</strong><br> en Medellín.
                            </p>
                        </div>
                    </a>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="ali__footer">
            <a href="/formulario-socios" class="ali__footer--inv">Únete como aliado
                estratégico</a>
        </div>

    </div>
</div>