<div class="blog">
    <div class="container">
        <div class="blog__title">
            <h2 class="blog__title--txt">
                Toma un Día Saludable
            </h2>
            <h4 class="blog__title--subt">
                Actualízate con los mejores temas de actualidad en Salud
            </h4>
        </div>
    </div>
    <div class="blog__body">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                {{!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button> --}}
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="bb__item w-100">
                        <img src="/img/dia-saludable/ds-home-teacompano-d.jpg" class="bb__item--img">
                        <div class="bb__item--body">
                            <h4 class="bb__item--title">
                                Hacer frente a los hábitos en este 2021 Postcovid
                            </h4>
                            <p class="bb__item--desc">
                                Conozca las acciones más recomendables para hacer frente a algunos hábitos como la
                                actividad física y el consumo de alimentos más saludables.
                            </p>
                            <a href="/" class="bb__item--footer">Leer más</a>
                        </div>
                    </div>
                </div>
                {{!-- <div class="carousel-item">
                    <div class="bb__item w-100">
                        <img src="/img/dia-saludable/ds-home-teacompano-b.jpg" alt="" class="bb__item--img">
                        <div class="bb__item--body">
                            <h4 class="bb__item--title">
                                Título del artículo
                            </h4>
                            <p class="bb__item--desc">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit rem, sapiente
                                laboriosam qui dolor
                                sit neque laborum, magnam maiores id dicta ipsum dolorum hic error consequuntur quos!
                                Voluptate,
                                dolore aspernatur?
                            </p>
                            <a href="/" class="bb__item--footer">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="bb__item w-100">
                        <img src="/img/dia-saludable/ds-home-teacompano-c.jpg" alt="" class="bb__item--img">
                        <div class="bb__item--body">
                            <h4 class="bb__item--title">
                                Título del artículo
                            </h4>
                            <p class="bb__item--desc">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit rem, sapiente
                                laboriosam qui dolor
                                sit neque laborum, magnam maiores id dicta ipsum dolorum hic error consequuntur quos!
                                Voluptate,
                                dolore aspernatur?
                            </p>
                            <a href="/" class="bb__item--footer">Leer más</a>
                        </div>
                    </div>
                </div> --}}
            </div>
            <a href="/dia-saludable" class="carousel__button">
                <p class="carousel__button--text">
                    Visita el Blog
                </p>
            </a>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>