<div class="claims container">
    <div class="claims__header text-center">
        <h3 class="claims__header--title">
            Comprometidos con la salud con trabajo profesional y calidad humana
        </h3>
    </div>

    <div class="claims__body">
        <div class="claims__section">
            <div class="claims__item">
                <div class="claim__img">
                    <img src="/img/claims/claim-a.png" alt="" class="claim__img--item">
                </div>
                <div class="claim__txt">
                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>
                    <p class="claim__txt--item">
                        Comprometidos con la salud de nuestros pacientes
                    </p>
                </div>
            </div>

            <div class="claims__item">
                <div class="claim__img">
                    <img src="/img/claims/claim-b.png" alt="" class="claim__img--item">
                </div>
                <div class="claim__txt">
                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>
                    <p class="claim__txt--item">
                        Siempre a tiempo con las mejores herramientas para su cuidado
                    </p>
                </div>
            </div>

            <div class="claims__item">
                <div class="claim__img">
                    <img src="/img/claims/claim-c.png" alt="" class="claim__img--item">
                </div>
                <div class="claim__txt">
                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>
                    <p class="claim__txt--item">
                        Velamos por su tranquilidad y la de su familia
                    </p>
                </div>
            </div>
        </div>
        <div class="contact__ref" id="contacto"></div>
    </div>
</div>