<div class="mapa">
    <div class="container text-center">
        <div class="mapa__title">
            <h2 class="mapa__title--txt">
                Encuéntranos fácilmente
            </h2>
        </div>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.40179101689!2d-75.59214138528334!3d6.210620195504064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429970cef9547%3A0x8be802b3bf485af2!2sTeacompa%C3%B1o!5e0!3m2!1ses!2sco!4v1634770358392!5m2!1ses!2sco"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="mapa__body">
        <div class="mb__content">
            <div class="cont__title">
                <h4 class="cont__title--txt">
                    Salud Integral a un clic
                </h4>
            </div>

            <div class="cont__body">
                <div class="cont__body--map">
                    <a href="https://g.page/teacompano?share" rel="nofollow" target="_blank" class="mp__dir icon-location">Calle 1B #66-94, Medellín - Antioquia</a>
                    <p class="mp__loc">Cerca del aeropuerto Olaya Herrera</p>
                </div>
                <div class="separador">
                    <img src="/img/rec/separador.png" alt="" class="separador__img">
                </div>
                <div class="cont__body--contact">
                    <a href="" rel="nofollow" target="_blank" class="mp__ws icon-whatsapp">310 638 4443</a>
                    <a href="" rel="nofollow" target="_blank" class="mp__ws icon-mail">enfermeria@teacompano.com.co</a>
                </div>
                <div class="separador">
                    <img src="/img/rec/separador.png" alt="" class="separador__img">
                </div>
                <div class="cont__body--social">
                    <p class="social__title">Síguenos en redes sociales:</p>
                    <a href="https://www.facebook.com/teacompano.sas/" rel="nofollow" target="_blank" class="mp__ws icon-facebook-squared"></a>
                    <a href="https://www.instagram.com/teacompano/" rel="nofollow" target="_blank" class="mp__ws icon-instagram"></a>
                    <a href="https://twitter.com/te_acompano" rel="nofollow" target="_blank" class="mp__ws icon-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCb64urQweeK_TMhap87S2EA" rel="nofollow" target="_blank" class="mp__ws icon-youtube-play"></a>
                </div>
                <div class="separador">
                    <img src="/img/rec/separador.png" alt="" class="separador__img">
                </div>
                <div class="cont__body--reg">
                    <a href="/formulario-solicitud" class="reg__button">
                        O pide una cita
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>