<div class="high text-center">
    <div class="container">
        <div class="high__title">
            <h2>Servicios destacados en Teacompaño CIS</h2>
        </div>

        <div class="high__body">
            <div class="high__item">
                <div class="high__item--title">
                    <h4>Hola, soy un título</h4>
                </div>

                <div class="high__item--body">
                    <img src="/img/high/tea-high-a.png" alt="" class="hi__body--img">

                    <p class="hi__body--txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>

                <div class="hgh__item--footer">
                    <a href="" class="hi__footer--link">Ver más</a>
                </div>
            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Hola, soy un título</h4>
                </div>

                <div class="high__item--body">
                    <img src="/img/high/tea-high-b.png" alt="" class="hi__body--img">

                    <p class="hi__body--txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>

                <div class="hgh__item--footer">
                    <a href="" class="hi__footer--link">Ver más</a>
                </div>
            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Hola, soy un título</h4>
                </div>

                <div class="high__item--body">
                    <img src="/img/high/tea-high-c.png" alt="" class="hi__body--img">

                    <p class="hi__body--txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>

                <div class="hgh__item--footer">
                    <a href="" class="hi__footer--link">Ver más</a>
                </div>
            </div>
        </div>

        <div class="high__footer">
            <a href="" class="high__footer--link">Conoce todos nuestros servicios aquí</a>
        </div>
    </div>
</div>