<div class="high text-center">
    <div class="container">
        <div class="high__title">
            <h2>Servicios destacados en Teacompaño CIS</h2>
        </div>

        <div class="high__body">
            <div class="high__item">
                <div class="high__item--title">
                    <h4>Enfermería</h4>
                </div>

                <div class="high__item--body">
                    <a href="" class="hi__footer--link" data-bs-toggle="modal" data-bs-target="#modalEnfermeria">
                        <img src="/img/high/tea-high-a.png" alt="" class="hi__body--img">
                    </a>

                    {{> modal-enfermeria}}

                    <p class="hi__body--txt">
                        <strong>Personal profesional</strong> para el cuidado del <strong>paciente y su familia</strong>.
                    </p>
                </div>

            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Psicología</h4>
                </div>

                <div class="high__item--body">
                    <a href="" class="hi__footer--link" data-bs-toggle="modal" data-bs-target="#modalPsicologia">
                        <img src="/img/high/tea-high-b.png" alt="" class="hi__body--img">
                    </a>

                    {{> modal-psicologia}}

                    <p class="hi__body--txt">
                        <strong>Apoyo emocional y psicológico</strong> a nivel <strong>individual e institucional</strong>
                    </p>
                </div>
            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Medicina General</h4>
                </div>

                <div class="high__item--body">
                    <a href="" class="hi__footer--link" data-bs-toggle="modal" data-bs-target="#modalMedicina">
                        <img src="/img/high/tea-high-c.png" alt="" class="hi__body--img">
                    </a>
                    
                    {{> modal-medicina}}

                    <p class="hi__body--txt">
                        Cita con un <strong>Médico Profesional,</strong> ya sea <strong>presencial o virtual</strong>.
                    </p>
                </div>
            </div>
        </div>

        <div class="high__footer">
            <a href="/servicios" class="high__footer--link">Conoce todos nuestros servicios aquí</a>
        </div>
    </div>
</div>