<div class="footer">
    <div class="footer__title">
        <h3 class="footer__title--item">
            Su bienestar nuestro objetivo. Su tranquilidad nuestra responsabilidad
        </h3>
    </div>

    <div class="footer__body container">

        <div class="fb__section">
            <div class="fb__section--title">
                <h4 class="fbs__title text-center">
                    Teacompaño CIS
                </h4>
            </div>
            <div class="fb__section--body">
                <a href="/" class="fbs__link">
                    <img src="/img/logos/logo-completo.png" alt="" class="fbs__logo">
                </a>
            </div>
        </div>

        <div class="fb__section">
            <div class="fb__section--title">
                <h4 class="fbs__title">
                    Conoce más
                </h4>
            </div>
            <div class="fb__section--body">
                <ul class="fbs__body--list">
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Nosotros</a>
                    </li>
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Contacto</a>
                    </li>
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Trabaja con nosotros</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fb__section">
            <div class="fb__section--title">
                <h4 class="fbs__title">
                    Alianzas
                </h4>
            </div>
            <div class="fb__section--body">
                <ul class="fbs__body--list">
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Conoce nuestras alianzas</a>
                    </li>
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Pauta con nosotros</a>
                    </li>
                    <li class="fbsbl__item">
                        <a href="" class="fbsbl__link">Escríbenos</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="fb__section">
            <div class="fb__section--title">
                <h4 class="fbs__title">
                    Información legal
                </h4>
            </div>

            <div class="fb__section--body">
                <ul class="fbs__body--list">
                    <li class="fbsbl__item">
                        <a href="/politica-privacidad" class="fbsbl__link">Política de privacidad</a>
                    </li>
                    <li class="fbsbl__item">
                        <a href="/politica-cookies" class="fbsbl__link">Política de Cookies</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="footer__footer text-center w-100">
        <p class="ff__txt">
            Todos los derechos reservados | <a href="https://www.k1n0.com.co/" target="blank" rel="nofollow">K1n0c0m® 2021</a> | Medellín, Colombia
        </p>
    </div>
</div>