<div class="intro">
    <div class="container">
        <div class="intro__img">
            <img src="/img/logos/logo-completo.png" alt="" class="ii__logo">
        </div>

        <div class="intro__content">
            <div class="intro__header">
                <h1 class="intro__header--principal">
                    Teacompaño CIS
                </h1>
                <h4 class="intro__header--sec">
                    Cuidado Integral en Salud
                </h4>
            </div>

            <div class="separador">
                <img class="separador__img" src="/img/rec/separador.png" alt="">
            </div>

            <div class="intro__body">
                <p class="intro__body--txt">
                    Somos una empresa <strong>integral en salud</strong>; contamos con un equipo interdisciplinario que brinda servicios
                    con <strong>calidad humana</strong>, de forma <strong>oportuna, responsable y efeciente</strong>, aportando al bienestar de nuestros
                    pacientes y su familia.
                </p>
                <a href="/nosotros" class="intro__body--footer">
                    Conoce más de nosotros aquí
                </a>
            </div>
        </div>
    </div>
</div>