{{#if success}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="success__message container">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <a class="icon-cancel" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{#if message}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="success__message container">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{message}}
                    <a class="icon-cancel" data-bs-dismiss="alert" aria-label="Close"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}