<div class="nos container">
    <div class="nos__title text-center">
        <h1 class="nos__title--txt">
            Nosotros somos | Teacompaño CIS
        </h1>
        <h4 class="nos__title--sub">
            Un equipo integral y profesional, preparado para cuidar tu salud y la de tu familia.
        </h4>
    </div>

    <div class="nos__body">
        <div class="nos__section">
            <div class="nos__item text-center">
                <div class="nos__item--cont">
                    <div class="nos__item--title">
                        <h3 class="item__title--txt">
                            Dra. Lina M. Múnera
                        </h3>
                        <h4 class="item__title--desc">
                            Directora Administrativa y Fundadora | Teacompaño CIS
                        </h4>
                    </div>

                    <div class="nos__item--body">
                        <img src="/img/nosotros/docotor-lina.png" alt="" class="item__body--img">
                        <p class="item__body--desc">
                            Médica General | Universidad Cooperativa de Colombia<br>
                            <br>Estudios en Medicina Estética en la Universidad del Tolima<br>

                            <br>Comprometida con el profesionalismo y la calidad humana.
                        </p>
                    </div>

                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>

                    <div class="nos__item--footer">
                        <div class="item__footer--title">
                            <h4 class="footer__title--txt">
                                Conoce más:
                            </h4>
                        </div>
                        <div class="item__footer--body">
                            <ul class="footer__body--list">
                                <li class="footer__body--item">
                                    <a href="https://www.facebook.com/linamarcela.munerabedoya" rel="nofollow"
                                        target="_blank" class="footer__body--link icon-facebook-squared"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-twitter"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="https://www.instagram.com/dralinamunera/" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nos__item text-center">
                <div class="nos__item--cont">
                    <div class="nos__item--title">
                        <h3 class="item__title--txt">
                            Dr. Joan Sebastián R.
                        </h3>
                        <h4 class="item__title--desc">
                            Director Ejecutivo y Fundador | Teacompaño CIS
                        </h4>
                    </div>

                    <div class="nos__item--body">
                        <img src="/img/nosotros/docotor-sebastian.png" alt="" class="item__body--img">
                        <p class="item__body--desc">
                            Abogado Corporación Universitaria Americana<br>

                            <br>Business Studies | Orange School | Australia<br>

                            <br>Comprometido con la vocación de servicios y el sentido de la justicia.
                        </p>
                    </div>

                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>

                    <div class="nos__item--footer">
                        <div class="item__footer--title">
                            <h4 class="footer__title--txt">
                                Conoce más:
                            </h4>
                        </div>
                        <div class="item__footer--body">
                            <ul class="footer__body--list">
                                <li class="footer__body--item">
                                    <a href="https://www.facebook.com/joan.s.rodriguez.5" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-facebook-squared"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="https://www.instagram.com/joan_olu/" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-twitter"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nos__item text-center">
                <div class="nos__item--cont">
                    <div class="nos__item--title">
                        <h3 class="item__title--txt">
                            John Edison Múnera B.
                        </h3>
                        <h4 class="item__title--desc">
                            Director de Comunicaciones | Teacompaño CIS
                        </h4>
                    </div>

                    <div class="nos__item--body">
                        <img src="/img/nosotros/docotor-a.png" alt="" class="item__body--img">
                        <p class="item__body--desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, ratione? Possimus magni
                            veniam, consequuntur dolorem eum molestiae, explicabo repellat perferendis ipsa nihil
                            suscipit, qui quod nesciunt incidunt ea? Harum, suscipit?
                        </p>
                    </div>

                    <div class="separador">
                        <img src="/img/rec/separador.png" alt="" class="separador__img">
                    </div>

                    <div class="nos__item--footer">
                        <div class="item__footer--title">
                            <h4 class="footer__title--txt">
                                Conoce más:
                            </h4>
                        </div>
                        <div class="item__footer--body">
                            <ul class="footer__body--list">
                                <li class="footer__body--item">
                                    <a href="" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-facebook-squared"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-twitter"></a>
                                </li>
                                <li class="footer__body--item">
                                    <a href="" rel="nofollow" target="_blank"
                                        class="footer__body--link icon-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nos__footer">
        <div class="nos__footer--title text-center">
            <h2 class="nf__title--text">
                Comprometidos con la salud de los Colombianos
            </h2>
            <h4 class="nf__title--sub">
                Conoce la flosofía que motiva nuestro trabajo
            </h4>
        </div>

        <div class="nos__footer--body">
            <div class="filo">
                <div class="filo__section">
                    <div class="mision">
                        <img src="/img/nosotros/nos-mision.png" alt="" class="mision__body--img">
                        <div class="mision__body">
                            <h3 class="mision__title">
                                Misión
                            </h3>
                            <p class="mision__desc">
                                <strong>Pasión por lo que hacemos</strong><br>
                                <br>Satisfacer de manera eficas e idonea, las necesidades de salud de nuestra población,
                                comprometidos de manera etica y profesional en la recuperación de la salud y el
                                acompañamiento del paciente y su familia.
                            </p>
                        </div>
                    </div>

                    <div class="vision">
                        <div class="vision__body">
                            <h3 class="vision__title">
                                Visión
                            </h3>
                            <p class="vision__desc">
                                <strong>Con la expectativa en el presente</strong><br>
                                <br>Seremos reconocidos como organización modelo en la gestión y cuidado integral de la
                                salud privada, enfocados en la excelencia, calidad de nuestros profesional y la
                                idoneidad en la asistencia al paciente y su familia.
                            </p>
                        </div>
                        <img src="/img/nosotros/nos-vision.png" alt="" class="vision__body--img">
                    </div>

                    <div class="valores">
                        <img src="/img/nosotros/nos-valores.png" alt="" class="valores__body--img">
                        <div class="valores__body">
                            <h3 class="valores__title">
                                Valores
                            </h3>
                            <p class="valores__desc">
                                <strong>Respeto por los pacientes y sus derechos</strong><br>
                                <br>Calidad<br>
                                Responsabilidad<br>
                                Lealtad<br>
                                Compromiso<br>
                                Vocación<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>