<div class="ser">
    <div class="ser__header container text-center">
        <h1 class="ser__header--title">
            Servicios con calidad humana | Teacompaño CIS
        </h1>
        <h2 class="ser__header--subt">
            Una gama de servicios de Cuidado Integral en Salud para toda la familia
        </h2>
    </div>

    <div class="ser__body container">
        <div class="ser__section">
            <div class="ser__item">
                <div class="ser__item--square">
                    <div class="ser__item--header">
                        <h3 class="ser__item--title">
                            Cuidados de Enfermería
                        </h3>
                    </div>
                    <div class="ser__item--body">
                        <a href="/formulario-solicitud" class="ser__item--link">Pedir cita</a>
                    </div>
                </div>
                <div class="ser__item--info">
                    <h4 class="item__info--title text-center">
                        Cuidados de Enfermería
                    </h4>
                    <div class="ser__item--img">
                        <img src="/img/servicios/servicio-b.jpg" alt="" class="item__info--img">
                    </div>
                    <div class="ser__item--desc">
                        <p class="item__info--txt">
                            Desde el área profesional acompañamos a nuestros pacientes en la recuperación de la salud y
                            el reintegro a su vida familiar y social, brindando bienestar al paciente y tranquilidad a
                            su familia.
                        </p>
                    </div>
                </div>
            </div>

            <div class="ser__item">
                <div class="ser__item--square">
                    <div class="ser__item--header">
                        <h3 class="ser__item--title">
                            Psicología
                        </h3>
                    </div>
                    <div class="ser__item--body">
                        <a href="/formulario-solicitud" class="ser__item--link">Pedir cita</a>
                    </div>
                </div>
                <div class="ser__item--info">
                    <h4 class="item__info--title text-center">
                        Psicología
                    </h4>
                    <div class="ser__item--img">
                        <img src="/img/servicios/servicio-e.jpg" alt="" class="item__info--img">
                    </div>
                    <div class="ser__item--desc">
                        <p class="item__info--txt">
                            Buscamos contribuir en el mejoramiento y recuperación de la salud mental de nuestros
                            pacientes y sus familias con profesionales capacitados para brindarle un amplio portafolio.
                        </p>
                    </div>
                </div>
            </div>

            <div class="ser__item">
                <div class="ser__item--square">
                    <div class="ser__item--header">
                        <h3 class="ser__item--title">
                            Medicina General
                        </h3>
                    </div>
                    <div class="ser__item--body">
                        <a href="/formulario-solicitud" class="ser__item--link">Pedir cita</a>
                    </div>
                </div>
                <div class="ser__item--info">
                    <h4 class="item__info--title text-center">
                        Medicina General
                    </h4>
                    <div class="ser__item--img">
                        <img src="/img/servicios/servicio-a.jpg" alt="" class="item__info--img">
                    </div>
                    <div class="ser__item--desc">
                        <p class="item__info--txt">
                            Nuestros médicos cuentan con un alto perfil profesional profesional que buscan promover y
                            preservar la salud, aliviar y reconfortar al paciente y su familia.
                        </p>
                    </div>
                </div>
            </div>

            <div class="ser__item">
                <div class="ser__item--square">
                    <div class="ser__item--header">
                        <h3 class="ser__item--title">
                            Nutrición
                        </h3>
                    </div>
                    <div class="ser__item--body">
                        <a href="/formulario-solicitud" class="ser__item--link">Pedir cita</a>
                    </div>
                </div>
                <div class="ser__item--info">
                    <h4 class="item__info--title text-center">
                        Nutrición
                    </h4>
                    <div class="ser__item--img">
                        <img src="/img/servicios/servicio-c.jpg" alt="" class="item__info--img">
                    </div>
                    <div class="ser__item--desc">
                        <p class="item__info--txt">
                            Encuentra con nuestros profesionales asesoría en nutrición y bienestar, en donde evaluamos
                            las necesidades de cada paciente promoviendo estilos de vida saludable y acompañarlos en el
                            cumplimiento de los objetivos deseados.
                        </p>
                    </div>
                </div>
            </div>

            <div class="ser__item">
                <div class="ser__item--square">
                    <div class="ser__item--header">
                        <h3 class="ser__item--title">
                            Asesoría Jurídica
                        </h3>
                    </div>
                    <div class="ser__item--body">
                        <a href="/formulario-solicitud" class="ser__item--link">Pedir cita</a>
                    </div>
                </div>
                <div class="ser__item--info">
                    <h4 class="item__info--title text-center">
                        Asesoría Jurídica
                    </h4>
                    <div class="ser__item--img">
                        <img src="/img/servicios/servicio-d.jpg" alt="" class="item__info--img">
                    </div>
                    <div class="ser__item--desc">
                        <p class="item__info--txt">
                            Brindamos acompañamiento y guiamos a nuestros usuarios en aquellas situaciones jurídicas y
                            administrativas donde se requiera reafirmar su derecho a la salud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>