<div class="ser">
    <div class="ser__header container text-center">
        <h1 class="ser__header--title">
            Servicios con calidad humana | Teacompaño CIS
        </h1>
        <h3 class="ser__header--subt">
            Una gama de servicios de Cuidado Integral en Salud para toda la familia
        </h3>
    </div>

    <div class="ser__body">
        <div class="ser__section">
            <div class="ser__item">
                <div class="ser__item--header">
                    <h4 class="ser__item--title">
                        Servicio 1
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>