<div class="social">
    <div class="social__list">
        <ul class="sl__list">
            <li class="sll__item">
                <a href="https://www.facebook.com/" class="sll__link icon-facebook-squared"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.instagram.com/" class="sll__link icon-instagram"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.twitter.com/" class="sll__link icon-twitter-squared"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.youtube.com/" class="sll__link icon-youtube-play"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.whatsapp.com/" class="sll__link icon-whatsapp"></a>
            </li>
        </ul>
    </div>
</div>