<div class="social">
    <div class="social__list">
        <ul class="sl__list">
            <li class="sll__item">
                <a href="https://www.facebook.com/teacompano.sas/" rel="nofollow" target="_blank" class="sll__link icon-facebook-squared"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.instagram.com/teacompano/" rel="nofollow" target="_blank" class="sll__link icon-instagram"></a>
            </li>
            <li class="sll__item">
                <a href="https://twitter.com/te_acompano" rel="nofollow" target="_blank" class="sll__link icon-twitter-squared"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.youtube.com/channel/UCb64urQweeK_TMhap87S2EA" rel="nofollow" target="_blank" class="sll__link icon-youtube-play"></a>
            </li>
            <li class="sll__item">
                <a href="https://www.whatsapp.com/" rel="nofollow" target="_blank" class="sll__link icon-whatsapp"></a>
            </li>
        </ul>
    </div>
</div>