<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title">
                        Registro de personal
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/registro-personal" class="form">
                        <div class="form-group">
                            <label for="">Nombre Completo (*)</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>