.mapa {
    background: linear-gradient(to bottom right, $Grey, $Bl, $DG);
    padding-top: 20px;
    height: 620px;

    .mapa__title {
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
        height: 480px;
    }

    .mapa__body {
        margin-top: 20px;
        z-index: 0;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        bottom: 490px;
        right: 80px;

        .mb__content {
            background: $Plata;
            padding: 40px;
            width: 480px;
            text-align: center;

            .cont__body {
                .separador__img {
                    width: 240px;
                }

                .cont__body--contact {
                    display: grid;

                    .mp__ws {
                        margin-top: 10px;
                    }
                }

                .cont__body--reg {
                    margin-top: 20px;
                    .reg__button {
                        background: linear-gradient(to bottom right, $Ros, $Mor);
                        padding: 8px 8px;
                        border-radius: 6px;
                        color: $Bl;

                        &:hover {
                            transition: all 0.6s;
                            background: linear-gradient(to bottom right, $Mor, $Ros);
                        }
                    }
                }

                .cont__body--social {
                    .mp__ws {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    @media (min-width: 320px) and (max-width: 1280px) {
        .mapa__body {
            position: initial;
        }
    }
}
