.bg__ser {
    .bg__ser--img {
        width: 100%;
    }
}

.ser {
    .ser__body {
        .ser__section {
            padding: 20px;

            .ser__item {
                padding: 10px;
                width: 400px;
                margin: 10px;
                display: flex;
                justify-content: center;
                justify-content: space-between;
                transition: all .6s;

                .ser__item--square {
                    cursor: pointer;
                    padding: 10px;
                    background: $Plata;
                    height: 100px;
                    width: 320px;
                    border-radius: 10px;
                    -webkit-box-shadow: 2px 2px 2px 0px rgba(40, 40, 40, 0.75);
                    -moz-box-shadow: 2px 2px 2px 0px rgba(40, 40, 40, 0.75);
                    box-shadow: 2px 2px 2px 0px rgba(40, 40, 40, 0.75);

                    &:hover {
                        transition: all 0.4s;
                        -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
                        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
                    }

                    .ser__item--body {
                        display: flex;
                        justify-content: start;

                        .ser__item--link {
                            width: 86px;
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 4px;
                            color: $Bl;
                            background: linear-gradient(to bottom right, $Ros, $Mor);

                            &:hover {
                                transition: all 0.4s;
                                background: linear-gradient(to bottom right, $Mor, $Ros);
                            }
                        }
                    }
                }

                .ser__item--info {
                    display: none;
                    position: absolute;
                    right: 16%;
                    bottom: -480px;
                    background: $Plata;
                    border-radius: 12px;
                    width: 40%;
                    padding: 20px;
                    text-align: center;
                    transition: all .6s;

                    .ser__item--img {
                        .item__info--img {
                            width: 440px;
                            margin: 20px;
                        }
                    }
                }

                &:hover {
                    transition: all 0.4s;
                    .ser__item--info {
                        transition: all 0.4s;
                        display: block;
                    }
                }
            }
        }
    }

    @media (min-width: 320px) and (max-width: 1280px) {
        .ser__body {
            .ser__section {
                padding: 0px;

                .ser__item {
                    padding: 0px;
                    padding-left: 20px;
                    margin: 10px;
                    width: 100%;
                    display: block;

                    .ser__item--square {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .ser__item--body {
                            .ser__item--link {
                                height: 40px;
                            }
                        }
                    }

                    .ser__item--info {
                        position: relative;
                        bottom: -40px;
                        width: 88%;
                        right: 0px;
                        left: 0px;

                        .ser__item--img {
                            .item__info--img {
                                width: 90%;
                                margin: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
