// Bases
@import "variables";
@import "base";
@import "fontello";

// Módulos
@import "intro";
@import "destacados";
@import "blog";
@import "claims";
@import "contacto";
@import "aliados";
@import "footer";
@import "social";

// Páginas
@import "nosotros";
@import "servicios";