<title>Servicios 🩺 Teacompaño CIS | Cuidado Integral en Salud</title>
{{> nav}}

<div class="bg__ser">
    <img src="/img/bg/bg-teacompano-servicios-a.jpg" alt="" class="bg__ser--img">
</div>

<div class="bread__interno container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Servicios</li>
        </ol>
    </nav>
</div>

{{> ser}}
{{> social}}
{{> footer}}
